* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

html, body {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    height: 100%;
    min-width: 320px;
    font-size: 16px;
    line-height: 20px;
    color: #757575;
}

.container {
    background-color: #fff;
    min-height: 400px;
}

.content {
    max-width: 1024px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.smallest__font {
    font-size: 12px;
}

.small__font {
    font-size: 14px;
}

.large__font {
    font-size: 18px;
}

.larger__font {
    font-size: 20px;
}

.huge__font {
    font-size: 22px;
}
