@media (min-width: 1024px) {
    .word__cloud {
        max-width: 600px;
        float: left;
        padding: 0;
    }

    .details__container {
        max-width: 400px;
        float: left;
        padding: 5px 10px;
    }
}